# Position Performance

This notebook looks at a position as a whole, and then predicts the number of fantasy points.

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder, FunctionTransformer
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer,  make_column_selector as selector


from sklearn.metrics import plot_confusion_matrix, recall_score,\
    accuracy_score, precision_score, f1_score

from sklearn.dummy import DummyRegressor

from sklearn.metrics import plot_roc_curve

from xgboost import XGBRegressor
from sklearn.decomposition import PCA

from imblearn.pipeline import Pipeline as ImPipeline
from sklearn.svm import SVC
from sklearn.linear_model import LinearRegression,ElasticNet,Ridge,Lasso
from sklearn.svm import SVR

In [2]:
import math
import tensorflow as tf
import matplotlib.pyplot as plt
from tensorflow.keras import Model
from tensorflow.keras import Sequential
from tensorflow.keras.optimizers import Adam
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.layers import Dense, Dropout
from sklearn.model_selection import train_test_split
from tensorflow.keras.losses import MeanSquaredLogarithmicError

In [47]:
df = pd.read_csv('./QB_df.csv')

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1264 entries, 0 to 1263
Data columns (total 26 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Player    1264 non-null   object
 1   PPR       1264 non-null   float64
 2   Day       1264 non-null   object
 3   Week      1264 non-null   int64
 4   Age       1264 non-null   int64
 5   Team      1264 non-null   object
 6   Home      1264 non-null   int64
 7   Opp       1264 non-null   object
 8   Pos       1264 non-null   object
 9   Dome      1264 non-null   int64
 10  RANK      1264 non-null   int64
 11  PTS       1264 non-null   int64
 12  SACKS     1264 non-null   int64
 13  INT       1264 non-null   int64
 14  TO        1264 non-null   int64
 15  PTS.1     1264 non-null   int64
 16  PASS YDS  1264 non-null   int64
 17  PASS TD   1264 non-null   int64
 18  RUSH YDS  1264 non-null   int64
 19  RUSH TD   1264 non-null   int64
 20  RZ ATT    1264 non-null   int64
 21  RZ TD     1264 non-null   int64
 22  RZ TD%    1264 non-null   float64
 23  1D        1264 non-null   int64
 24  3D%       1264 non-null   float64
 25  4D%       1264 non-null   float64
dtypes: float64(4), int64(17), object(5)
memory usage: 256.9+ KB

In [49]:
df.head()

,Player,PPR,Day,Week,Age,Team,Home,Opp,Pos,Dome,...,PASS YDS,PASS TD,RUSH YDS,RUSH TD,RZ ATT,RZ TD,RZ TD%,1D,3D%,4D%
0,Aaron Rodgers,30.76,Sun,1,36,GNB,0,MIN,QB,1,...,4141,30,2151,19,58,34,58.6,366,39.5,70.8
1,Philip Rivers,10.86,Sun,2,38,IND,1,MIN,QB,2,...,4141,30,2151,19,58,34,58.6,366,39.5,70.8
2,Ryan Tannehill,12.74,Sun,3,32,TEN,0,MIN,QB,1,...,4141,30,2151,19,58,34,58.6,366,39.5,70.8
3,Deshaun Watson,20.90,Sun,4,25,HOU,1,MIN,QB,2,...,4141,30,2151,19,58,34,58.6,366,39.5,70.8
4,Russell Wilson,24.48,Sun,5,31,SEA,1,MIN,QB,1,...,4141,30,2151,19,58,34,58.6,366,39.5,70.8

# Profile Report for DF

This section may take a few minutes to run.

In [50]:
from pandas_profiling import ProfileReport

In [51]:
profile = ProfileReport(df, title="QBs")

In [86]:
#uncomment below to run the ProfileReport
#profile.to_notebook_iframe()

In [53]:
df.corr()

,PPR,Week,Age,Home,Dome,RANK,PTS,SACKS,INT,TO,...,PASS YDS,PASS TD,RUSH YDS,RUSH TD,RZ ATT,RZ TD,RZ TD%,1D,3D%,4D%
PPR,1.000000,-0.099635,0.065807,0.013342,0.057212,0.148668,-0.067867,-0.095968,-0.136237,-0.113721,...,0.050487,0.080389,0.009999,0.072268,0.044091,0.074942,0.096432,0.042347,0.121992,0.075191
Week,-0.099635,1.000000,0.026114,-0.003987,0.016491,0.006681,0.090799,0.181135,0.171281,0.204267,...,0.288048,0.244829,0.269814,0.211431,0.277822,0.255232,0.040401,0.306210,0.055536,0.031593
Age,0.065807,0.026114,1.000000,-0.010546,0.084374,0.052273,-0.051362,-0.032109,-0.063724,-0.052003,...,0.021112,0.044322,-0.000895,0.012593,0.029869,0.025712,-0.019944,0.018827,0.025740,0.026270
Home,0.013342,-0.003987,-0.010546,1.000000,-0.011101,0.018685,-0.011774,-0.007796,-0.023234,-0.014793,...,0.003123,0.006211,-0.007946,0.000762,0.009939,0.008455,0.004263,0.004534,0.006244,-0.002044
Dome,0.057212,0.016491,0.084374,-0.011101,1.000000,0.164985,-0.097315,-0.074468,0.040319,0.034892,...,0.046459,0.096974,0.058038,0.070292,0.035927,0.101643,0.155397,0.053351,0.114230,0.048283
RANK,0.148668,0.006681,0.052273,0.018685,0.164985,1.000000,-0.404927,-0.423231,-0.500096,-0.480682,...,0.243014,0.450753,0.375148,0.557119,0.413040,0.524122,0.364305,0.299069,0.587826,0.377945
PTS,-0.067867,0.090799,-0.051362,-0.011774,-0.097315,-0.404927,1.000000,0.330064,0.426810,0.478748,...,0.106369,0.046176,0.021604,-0.062860,0.039724,0.018477,-0.020510,0.089770,-0.141337,-0.156678
SACKS,-0.095968,0.181135,-0.032109,-0.007796,-0.074468,-0.423231,0.330064,1.000000,0.465506,0.570068,...,0.353010,0.116315,0.255330,0.104573,0.287459,0.103123,-0.255647,0.349740,-0.311130,-0.274496
INT,-0.136237,0.171281,-0.063724,-0.023234,0.040319,-0.500096,0.426810,0.465506,1.000000,0.898087,...,0.352881,0.126498,0.258163,0.003079,0.226442,0.112880,-0.158114,0.315704,-0.260822,-0.116761
TO,-0.113721,0.204267,-0.052003,-0.014793,0.034892,-0.480682,0.478748,0.570068,0.898087,1.000000,...,0.446518,0.259777,0.346190,0.062671,0.328464,0.213977,-0.122985,0.432737,-0.199236,-0.147132
PTS.1,0.065997,0.276468,0.040372,0.003251,0.103758,0.559389,-0.039477,0.203192,0.116479,0.222627,...,0.860303,0.864532,0.851851,0.820681,0.907173,0.904722,0.276051,0.921456,0.457465,0.250108
PASS YDS,0.050487,0.288048,0.021112,0.003123,0.046459,0.243014,0.106369,0.353010,0.352881,0.446518,...,1.000000,0.806448,0.692389,0.646298,0.862864,0.802872,0.149900,0.944390,0.315264,0.137958
PASS TD,0.080389,0.244829,0.044322,0.006211,0.096974,0.450753,0.046176,0.116315,0.126498,0.259777,...,0.806448,1.000000,0.685211,0.516108,0.764050,0.841095,0.404972,0.820608,0.455220,0.228856
RUSH YDS,0.009999,0.269814,-0.000895,-0.007946,0.058038,0.375148,0.021604,0.255330,0.258163,0.346190,...,0.692389,0.685211,1.000000,0.755199,0.815857,0.765779,0.138681,0.846767,0.297949,0.135817
RUSH TD,0.072268,0.211431,0.012593,0.000762,0.070292,0.557119,-0.062860,0.104573,0.003079,0.062671,...,0.646298,0.516108,0.755199,1.000000,0.782553,0.796819,0.261038,0.748483,0.421669,0.158300
RZ ATT,0.044091,0.277822,0.029869,0.009939,0.035927,0.413040,0.039724,0.287459,0.226442,0.328464,...,0.862864,0.764050,0.815857,0.782553,1.000000,0.907209,0.107582,0.931101,0.447318,0.189517
RZ TD,0.074942,0.255232,0.025712,0.008455,0.101643,0.524122,0.018477,0.103123,0.112880,0.213977,...,0.802872,0.841095,0.765779,0.796819,0.907209,1.000000,0.479855,0.886116,0.555619,0.242828
RZ TD%,0.096432,0.040401,-0.019944,0.004263,0.155397,0.364305,-0.020510,-0.255647,-0.158114,-0.122985,...,0.149900,0.404972,0.138681,0.261038,0.107582,0.479855,1.000000,0.199845,0.351139,0.237920
1D,0.042347,0.306210,0.018827,0.004534,0.053351,0.299069,0.089770,0.349740,0.315704,0.432737,...,0.944390,0.820608,0.846767,0.748483,0.931101,0.886116,0.199845,1.000000,0.361978,0.149951
3D%,0.121992,0.055536,0.025740,0.006244,0.114230,0.587826,-0.141337,-0.311130,-0.260822,-0.199236,...,0.315264,0.455220,0.297949,0.421669,0.447318,0.555619,0.351139,0.361978,1.000000,0.137247
4D%,0.075191,0.031593,0.026270,-0.002044,0.048283,0.377945,-0.156678,-0.274496,-0.116761,-0.147132,...,0.137958,0.228856,0.135817,0.158300,0.189517,0.242828,0.237920,0.149951,0.137247,1.000000

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1264 entries, 0 to 1263
Data columns (total 26 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Player    1264 non-null   object
 1   PPR       1264 non-null   float64
 2   Day       1264 non-null   object
 3   Week      1264 non-null   int64
 4   Age       1264 non-null   int64
 5   Team      1264 non-null   object
 6   Home      1264 non-null   int64
 7   Opp       1264 non-null   object
 8   Pos       1264 non-null   object
 9   Dome      1264 non-null   int64
 10  RANK      1264 non-null   int64
 11  PTS       1264 non-null   int64
 12  SACKS     1264 non-null   int64
 13  INT       1264 non-null   int64
 14  TO        1264 non-null   int64
 15  PTS.1     1264 non-null   int64
 16  PASS YDS  1264 non-null   int64
 17  PASS TD   1264 non-null   int64
 18  RUSH YDS  1264 non-null   int64
 19  RUSH TD   1264 non-null   int64
 20  RZ ATT    1264 non-null   int64
 21  RZ TD     1264 non-null   int64
 22  RZ TD%    1264 non-null   float64
 23  1D        1264 non-null   int64
 24  3D%       1264 non-null   float64
 25  4D%       1264 non-null   float64
dtypes: float64(4), int64(17), object(5)
memory usage: 256.9+ KB

# Train Test Split of QB data

In [55]:
X = df.drop(['PPR', 'Pos'], axis=1)
y = df['PPR']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42,test_size=.2)

# Subpipe for Numericals and Categoricals

In [56]:
#subpipes that scale numeric data and use one hot encoder on categorical 
subpipe_num = Pipeline(steps=[
    ('ss', StandardScaler())
])


subpipe_cat = Pipeline(steps=[
    ('ohe', OneHotEncoder(sparse=False, handle_unknown='ignore'))
])

In [57]:
#category features to be one hot encoded
cat_feat = ['Player', 'Team', 'Opp', 'Day']

In [58]:
ss = StandardScaler()
ohe = OneHotEncoder(sparse=False, handle_unknown='ignore')

#Create a column transformer to apply the subpipes and transform the data
CT = ColumnTransformer(transformers=[
    ('ss', ss, selector(dtype_include=np.number)),
     ('ohe', ohe, cat_feat)], remainder='passthrough')

In [59]:
X_train_CT = CT.fit_transform(X_train)

In [60]:
X_test_CT = CT.transform(X_test)

In [61]:
X_train.shape

(1011, 24)

In [62]:
pd.DataFrame(CT.fit_transform(X_train)).shape

(1011, 186)

# Dummy Model

In [63]:
#Create a pipeline for dummy model
dummy_model_pipe = Pipeline(steps=[
    ('ct', CT),
    ('dum', DummyRegressor(strategy='median'))
])

In [64]:
dummy_model_pipe.fit(X_train, y_train)
dummy_model_pipe.score(X_train,y_train)

-6.967700962468015e-05

In [65]:
X_train

,Player,Day,Week,Age,Team,Home,Opp,Dome,RANK,PTS,...,PASS YDS,PASS TD,RUSH YDS,RUSH TD,RZ ATT,RZ TD,RZ TD%,1D,3D%,4D%
32,Taylor Heinicke,Sun,16,27,WAS,1,CAR,0,18,18,...,3825,28,1936,17,57,36,63.2,360,49.2,60.0
156,Kyler Murray,Sun,5,23,ARI,0,NYJ,1,26,8,...,4409,34,1792,16,60,36,60.0,381,44.6,41.7
382,Patrick Mahomes,Thu,1,24,KAN,1,HOU,1,27,6,...,4104,30,2564,24,63,40,63.5,390,47.5,52.4
1166,Tom Brady,Sun,8,44,TAM,0,NOR,1,4,12,...,3821,20,1589,12,46,20,43.5,304,37.1,42.9
365,Nick Foles,Thu,5,31,CHI,1,TAM,0,9,8,...,3945,29,1289,10,51,32,62.7,319,40.0,56.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1044,Tyler Huntley,Sun,17,23,BAL,1,LAR,1,15,0,...,4109,17,1754,18,56,29,51.8,347,41.3,53.1
1095,Josh Rosen,Thu,11,24,ATL,1,NWE,1,2,18,...,3181,21,2103,9,48,23,47.9,308,36.5,53.1
1130,Joe Flacco,Sun,10,36,NYJ,1,BUF,0,1,8,...,2771,12,1866,19,45,23,51.1,285,30.8,45.7
860,Matthew Stafford,Sun,16,33,LAR,0,MIN,2,24,12,...,4300,29,2222,15,59,33,55.9,391,36.4,50.0
1126,Ryan Tannehill,Mon,6,33,TEN,1,BUF,0,1,8,...,2771,12,1866,19,45,23,51.1,285,30.8,45.7

# Simple Regression Models

In [66]:
#These are the various regression models we will try initially
regressors = [
    
    LinearRegression(),
    Ridge(),
    Lasso(),
    SVR(),
]

In [67]:
for regressor in regressors:
    steps = [
        ('ct', CT),
        ('rg', regressor)
    ]
    pipeline = Pipeline(steps)
    pipeline.fit(X_train, y_train)   
    print(regressor)
    print("model score: %.3f" % pipeline.score(X_train, y_train))

LinearRegression()
model score: 0.378
Ridge()
model score: 0.404
Lasso()
model score: 0.012
SVR()
model score: 0.132

# XGBoost

In [68]:
import xgboost as xgb

In [69]:
GB = xgb.XGBRegressor(random_state=42, max_depth=4, n_estimators=100)

In [70]:
xgb_model_pipe = Pipeline(steps=[
    ('ct', CT),
    ('xgb', GB)
])

In [71]:
xgb_model_pipe.fit(X_train, y_train)
xgb_model_pipe.score(X_train,y_train)

0.7500141871345987

In [72]:
xgb_model_pipe.score(X_test,y_test)

0.21205979677222242

In [73]:
#Looking at feature importance
GB.get_booster().get_score(importance_type='gain')

{'f66': 526.2905901999999,
 'f4': 115.88009255757576,
 'f0': 67.12087131738333,
 'f7': 244.3408587855556,
 'f119': 68.40828815,
 'f138': 483.57156185,
 'f53': 374.46563225999995,
 'f40': 529.913208,
 'f161': 159.015625,
 'f70': 314.7771311,
 'f1': 199.14098079643904,
 'f18': 129.45412142608697,
 'f17': 248.77382642000003,
 'f3': 81.88684156958001,
 'f10': 138.8399765277778,
 'f169': 278.588867,
 'f91': 356.11494895,
 'f6': 115.2795448417143,
 'f11': 166.50260875466668,
 'f74': 309.3538882125,
 'f16': 111.51375825384618,
 'f158': 86.38023082,
 'f14': 125.25689080833332,
 'f20': 340.5799782,
 'f75': 314.0736483999999,
 'f90': 309.78265242000003,
 'f19': 116.86672085730771,
 'f12': 92.06122061481481,
 'f174': 155.478516,
 'f8': 90.84303174499999,
 'f22': 338.098684,
 'f94': 220.60663591666665,
 'f13': 212.3426897,
 'f2': 86.12549502666666,
 'f180': 119.72263699999999,
 'f5': 73.7384912011111,
 'f9': 86.56994494272726,
 'f15': 155.8732691,
 'f59': 181.6513300833333,
 'f26': 166.29421446249998,
 'f44': 217.71535643999997,
 'f97': 185.5304143,
 'f39': 173.10921456,
 'f29': 135.87776674285718,
 'f34': 108.31577524285714,
 'f79': 115.15275378333335,
 'f35': 132.47746962000002,
 'f115': 145.95066266666666,
 'f108': 79.2095947,
 'f56': 204.63981546000002,
 'f48': 121.68356176,
 'f62': 127.61877798333336,
 'f172': 55.773613,
 'f76': 87.18983704285712,
 'f41': 101.7462314,
 'f162': 168.534424,
 'f170': 127.82872,
 'f27': 155.3353385,
 'f37': 96.91721577499999,
 'f30': 88.5368424,
 'f102': 83.7615314,
 'f46': 122.486145125,
 'f72': 90.81335969999999,
 'f182': 128.3958588,
 'f118': 188.9308649333333,
 'f93': 62.32335918333333,
 'f47': 98.4139024,
 'f43': 83.19467839999999,
 'f133': 134.7624475,
 'f132': 86.21989537500001,
 'f32': 77.498733425,
 'f128': 209.80233766666663,
 'f38': 51.04152848333333,
 'f65': 54.248386679999996,
 'f64': 54.44683211666666,
 'f121': 113.68642044999999,
 'f183': 56.8322449,
 'f67': 48.30153656,
 'f83': 55.364564900000005,
 'f52': 48.425790166666665,
 'f99': 36.379778879999996,
 'f146': 70.88121796,
 'f149': 125.4407085,
 'f117': 133.139359,
 'f61': 64.79278706666666,
 'f71': 38.677642649999996,
 'f95': 40.0011463,
 'f96': 122.162743,
 'f31': 129.30297655,
 'f68': 47.1715317,
 'f80': 56.7487221,
 'f101': 119.38050959999998,
 'f86': 29.112520040000003,
 'f124': 73.77068823333333,
 'f112': 97.6024099,
 'f143': 57.4140244,
 'f111': 128.309128,
 'f109': 30.8701725,
 'f78': 113.78853245,
 'f85': 143.31601,
 'f107': 32.676666725000004,
 'f24': 31.538383500000002,
 'f184': 48.9755516,
 'f104': 32.040063833333335,
 'f87': 33.22036835,
 'f98': 89.27594753333334,
 'f127': 74.0350266,
 'f171': 31.3387794,
 'f51': 33.9771665,
 'f54': 29.049362199999997,
 'f163': 134.082489,
 'f148': 27.5323477,
 'f81': 29.263944633333335,
 'f116': 48.10582545,
 'f131': 27.9742632,
 'f154': 54.18164063333333,
 'f88': 40.367657333333334,
 'f36': 26.50354,
 'f129': 114.997772,
 'f122': 68.0396557,
 'f23': 159.47484550000001,
 'f103': 46.862299,
 'f125': 47.7889557,
 'f89': 21.4856663,
 'f179': 18.657257050000002,
 'f177': 25.6041012,
 'f42': 20.2256699,
 'f63': 82.6302793,
 'f58': 39.5084152,
 'f159': 17.4661503,
 'f139': 61.7783241,
 'f175': 44.3458862,
 'f178': 17.0970707}

In [74]:
GB.feature_importances_

array([0.00418511, 0.01241679, 0.00537008, 0.00510579, 0.00722533,
       0.00459773, 0.00718788, 0.01523509, 0.00566422, 0.00539779,
       0.00865692, 0.01038173, 0.00574018, 0.01323994, 0.00780999,
       0.00971898, 0.00695308, 0.01551149, 0.00807169, 0.00728685,
       0.02123577, 0.        , 0.02108105, 0.00994354, 0.00196647,
       0.        , 0.01036874, 0.00968543, 0.        , 0.00847222,
       0.00552043, 0.00806227, 0.00483218, 0.        , 0.00675368,
       0.0082602 , 0.00165254, 0.00604296, 0.00318253, 0.01079367,
       0.03304103, 0.00634406, 0.00126111, 0.00518734, 0.01357494,
       0.        , 0.00763723, 0.00613628, 0.00758719, 0.        ,
       0.        , 0.00211854, 0.00301943, 0.0233486 , 0.00181128,
       0.        , 0.01275965, 0.        , 0.00246342, 0.01132628,
       0.        , 0.00403995, 0.00795726, 0.00515214, 0.00339486,
       0.00338248, 0.03281515, 0.00301169, 0.00294123, 0.        ,
       0.01962691, 0.00241162, 0.00566237, 0.        , 0.01928876,
       0.01958305, 0.00543644, 0.        , 0.00709492, 0.00717998,
       0.00353838, 0.00182466, 0.        , 0.00345208, 0.        ,
       0.00893601, 0.00181522, 0.00207135, 0.00251699, 0.00133967,
       0.0193155 , 0.0222044 , 0.        , 0.00388597, 0.01375521,
       0.00249414, 0.00761706, 0.01156815, 0.00556651, 0.00226834,
       0.        , 0.00744359, 0.00522268, 0.00292195, 0.00199775,
       0.        , 0.        , 0.00203745, 0.00493886, 0.00192481,
       0.        , 0.0080003 , 0.00608568, 0.        , 0.        ,
       0.00910028, 0.00299948, 0.00830148, 0.01178017, 0.00426538,
       0.        , 0.00708855, 0.00424239, 0.        , 0.00459973,
       0.00297973, 0.        , 0.00461621, 0.01308155, 0.00717031,
       0.        , 0.00174424, 0.00537596, 0.00840268, 0.        ,
       0.        , 0.        , 0.        , 0.03015154, 0.00385199,
       0.        , 0.        , 0.        , 0.00357987, 0.        ,
       0.        , 0.00441957, 0.        , 0.00171669, 0.00782145,
       0.        , 0.        , 0.        , 0.        , 0.00337832,
       0.        , 0.        , 0.        , 0.00538596, 0.00108905,
       0.        , 0.00991491, 0.01050842, 0.00836028, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.01737051,
       0.00797035, 0.00195403, 0.00347758, 0.        , 0.00969436,
       0.00276504, 0.        , 0.00159646, 0.00106603, 0.00116331,
       0.00746492, 0.        , 0.00800571, 0.00354359, 0.00305371,
       0.        ], dtype=float32)